@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

.App {
    padding-top: 4rem;
    min-height: 100vh;
}

.card-link,
.card-link:focus,
.card-link:hover,
.card-link:visited,
.card-link:link,
.card-link:active {
    text-decoration: none;
    color: black;
}
